*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content:center;
	background-color: #fffdf6;
	background-image: linear-gradient(315deg, #fffdf6 0%, #fddac5 74%);

}

.btn {
	height: 55px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:flex-end;
	cursor: pointer;
}

#front {
	width: 100px;
	height: 45px;
	border-radius: 0 0 6px 6px;
	background-color: #C8C4B3;
	transform: perspective(100px) rotateX(35deg);
	z-index: 0;
		transition: 100ms;
}

#top {
	width: 79px;
	height: 30px;
	margin-bottom: -14px;
	border-bottom: 3px solid #EBEAD6;
	border-radius: 2px 2px 4px 4px;
	background-color: #E0DBCD;
	transform: perspective(100px) rotateX(60deg);
	z-index: 1;
		transition: 100ms;
}

#text {
	font-family: 'Roboto', sans-serif;
	color: #222;
	margin-bottom: -26px;
	transform: perspective(100px) rotateX(60deg);
	z-index: 2;
}

.btn:active #front{
	height: 35px;
	border-radius: 0 0 2px 2px;
}

.btn:active #top {
	width: 83px;
}
